{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "React": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier", "react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["src/infrastructure/", "src/react-lazyload/"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-indent": ["error", 2, { "indentLogicalExpressions": true }],
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off",
    "no-unused-vars": ["warn", { "args": "none" }],
    "prefer-const": "warn"
  }
}
