{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/jsx-indent": ["error", 2, { "indentLogicalExpressions": true }],
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off",
    "space-infix-ops": "error",
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "semi": "error",
    "indent": ["warn", 2],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-unused-vars": ["warn", { "args": "none" }]
  }
}
