.config-ui-header {
    text-align: center;
    top: 1em;
    position: sticky;
}

.block-words {
    width: 100%;
    height: 5em;
}

.bg-preview {
    height: 18em;
    width: 32em;
    max-height: 60vh;
    max-width: 100%;
    margin: .5em auto 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
}
